# Buildozer build artifacts
.buildozer/
bin/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
dist/
*.egg
*.egg-info/
MANIFEST

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db